$ORIGIN .
$TTL {{ zone.ttl }}
{{ zone.name }}  IN SOA {{ zone.ns1 }} {{ zone.hostmaster }} (
                    {{ zone.serial }}    ; serial
                    {{ zone.refresh }}   ; refresh
                    {{ zone.retry }}     ; retry
                    {{ zone.expire }}    ; expire
                    {{ zone.minimum }}   ; minimum
                    )
                NS  {{ zone.ns1 }}
                NS  {{ zone.ns2 }}
$ORIGIN {{ zone.name }}.{% for rr in zone.rrset %}
{{ "%-40s"|format(rr.name) }}{{ "%-8s"|format(rr.class) }}{{ "%-8s"|format(rr.type) }}{{ rr.rdata }}{% endfor %}
